<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                @if (User.Identity.IsAuthenticated) { 
                    <div class="pull-right">
                        @using (Html.BeginForm("signout", "account")) {
                            @Html.AntiForgeryToken()
                            <input class="btn" type="submit" value="Sign Out" />
                        }
                    </div>
                }
                @RenderBody()
            </div>
        </div>
    </div>
    @* When bundling, load in this sequence:
    1) shivs and jQuery
    2) 3rd party libraries
    3) require.js
    4) your app libraries
    5) main.js *@
    @Scripts.Render(
        "~/bundles/jquery", 
        "~/bundles/jsextlibs", 
        "~/Scripts/require.js",
        "~/bundles/jsapplibs",
        "~/Scripts/app/boot/main.js"
    )
    @RenderSection("scripts", required: false)
</body>
</html>