@model MultiLayerSignalRSample.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm()) {

    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Login Form</legend>
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>

        <input type="submit" class="btn" value="Login" />
    </fieldset>
}

<p>
    You're not a registered user? You can <a href="@Url.Action("register", "account")">register here</a>.
</p>